<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATA_MS.Properties.Settings.DM_LUBRICANTSConnectionString" connectionString="Data Source=.;Initial Catalog=DM_LUBRICANTS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
